Repository Every-Language/everylanguage-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, sql-formatter --config apps/backend/.sqlformatterrc.json --fix

.lintstagedrc.json:

{
  "apps/backend/**/*.{ts,js}": ["eslint --fix", "prettier --write"],
  "apps/backend/**/*.sql": [
    "sql-formatter --config apps/backend/.sqlformatterrc.json --fix"
  ],
  "apps/frontend/**/*.{ts,tsx,js,jsx}": ["prettier --write"],
  "packages/shared-ui/**/*.{ts,tsx}": ["prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "packages/shared-types/types/database.{ts,d.ts,js}": [],
  "assets/**/*": []
}

fix: vercel builds for both frontends
  .gitignore
  apps/frontend/web-partnership-dashboard/vercel.json
  apps/frontend/web-project-dashboard/vercel.json
Due: prettier --write

fix: vercel deployment
  apps/frontend/web-partnership-dashboard/.env.remote.dev
  apps/frontend/web-partnership-dashboard/.gitignore
  apps/frontend/web-partnership-dashboard/vercel.json
  apps/frontend/web-project-dashboard/.env.remote.dev
  apps/frontend/web-project-dashboard/.gitignore
  apps/frontend/web-project-dashboard/vercel.json
Due: prettier --write

fix: vercel deployment 2
  apps/frontend/web-partnership-dashboard/vercel.json
  apps/frontend/web-project-dashboard/vercel.json
  package.json
Due: prettier --write

fix: vercel deployment 3
  apps/frontend/web-partnership-dashboard/vercel.json
  apps/frontend/web-project-dashboard/vercel.json
Due: prettier --write

fix: vercel deployment 4
  apps/frontend/web-partnership-dashboard/vercel.json
  apps/frontend/web-project-dashboard/vercel.json
  pnpm-lock.yaml
Due: prettier --write

fix: vercel deployment 5
  secrets/scripts/deploy-vercel-secrets.sh
Due: none

fix: vercel deployment 6
  apps/frontend/web-project-dashboard/vercel.json
Due: prettier --write

fix: update lint-staged to use JS config with proper working directory
  .lintstagedrc.js
  .lintstagedrc.json
  apps/backend/supabase/functions/create-sponsorship-checkout/index.ts
  apps/backend/supabase/functions/stripe-webhook/index.ts
  apps/frontend/web-partnership-dashboard/.gitignore
  apps/frontend/web-partnership-dashboard/README.md
  apps/frontend/web-partnership-dashboard/index.html
  apps/frontend/web-partnership-dashboard/package.json
  apps/frontend/web-partnership-dashboard/scripts/deployment-check.js
  apps/frontend/web-partnership-dashboard/scripts/install-types.js
  apps/frontend/web-partnership-dashboard/src/features/dashboard/pages/DashboardLandingPage.tsx
  apps/frontend/web-partnership-dashboard/src/features/funding/api/fundingApi.ts
  apps/frontend/web-partnership-dashboard/src/features/funding/components/DonateModal/DonateModal.tsx
  apps/frontend/web-partnership-dashboard/src/features/funding/components/DonateModal/StepAccount.tsx
  apps/frontend/web-partnership-dashboard/src/features/funding/components/DonateModal/StepAmount.tsx
  apps/frontend/web-partnership-dashboard/src/features/funding/components/DonateModal/StepChooseIntent.tsx
  apps/frontend/web-partnership-dashboard/src/features/funding/components/DonateModal/StepDetails.tsx
  apps/frontend/web-partnership-dashboard/src/features/funding/components/DonateModal/StepLanguages.tsx
  apps/frontend/web-partnership-dashboard/src/features/funding/components/DonateModal/StepPayment.tsx
  apps/frontend/web-partnership-dashboard/src/features/funding/components/LanguagesTable.tsx
  apps/frontend/web-partnership-dashboard/src/features/funding/hooks/useDonateFlow.ts
  apps/frontend/web-partnership-dashboard/src/features/funding/pages/PublicLanguagesPage.tsx
  apps/frontend/web-partnership-dashboard/src/features/funding/state/types.ts
  apps/frontend/web-partnership-dashboard/src/features/funding/utils/calc.ts
  apps/frontend/web-partnership-dashboard/src/main.tsx
  apps/frontend/web-partnership-dashboard/src/shared/components/AppHeader.tsx
  apps/frontend/web-partnership-dashboard/tailwind.config.js
  docs/backend/current-to-do.md
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: backend - set up donation and adoption migration and functions
  .gitignore
  .lintstagedrc.js
  apps/backend/supabase/functions/calculate-adoption-costs/index.ts
  apps/backend/supabase/functions/create-adoption-checkout/index.ts
  apps/backend/supabase/functions/create-donation-checkout/index.ts
  apps/backend/supabase/functions/expire-bank-transfers/index.ts
  apps/backend/supabase/functions/search-partner-orgs/index.ts
  apps/backend/supabase/migrations/20241101000000_optimize_donation_flow.sql
  apps/backend/supabase/migrations/20241101000001_search_partner_orgs_function.sql
  apps/frontend/web-partnership-dashboard/src/features/funding/components/DonateModal/PartnerOrgSelector.tsx
  apps/frontend/web-partnership-dashboard/src/features/funding/components/DonateModal/StepConversion.tsx
  apps/frontend/web-partnership-dashboard/src/features/funding/components/DonateModal/StepDetails.tsx
  apps/frontend/web-partnership-dashboard/src/features/funding/hooks/useDonateFlow.ts
Due: eslint --fix, prettier --write, sql-formatter --config apps/backend/.sqlformatterrc.json --fix

fix: backend - migration order
  apps/backend/supabase/migrations/20251028072219_optimize_donation_flow.sql
  apps/backend/supabase/migrations/20251028072220_search_partner_orgs_function.sql
Due: sql-formatter --config apps/backend/.sqlformatterrc.json --fix

fix: pnpm dependencies
  apps/backend/supabase/seed/test/01_test_users/01_seed_test_users.sql
  apps/frontend/web-admin-dashboard/index.html
  apps/frontend/web-admin-dashboard/src/App.tsx
  apps/frontend/web-admin-dashboard/src/features/auth/pages/LoginPage.tsx
  apps/frontend/web-admin-dashboard/src/features/dashboard/pages/DashboardPage.tsx
  apps/frontend/web-admin-dashboard/src/features/languages/api/languagesApi.ts
  apps/frontend/web-admin-dashboard/src/features/languages/components/LanguageEntityModal.tsx
  apps/frontend/web-admin-dashboard/src/features/languages/pages/LanguagesPage.tsx
  apps/frontend/web-admin-dashboard/src/features/regions/api/regionsApi.ts
  apps/frontend/web-admin-dashboard/src/features/regions/components/RegionModal.tsx
  apps/frontend/web-admin-dashboard/src/features/regions/pages/RegionsPage.tsx
  apps/frontend/web-admin-dashboard/src/features/sponsorships/api/sponsorshipsApi.ts
  apps/frontend/web-admin-dashboard/src/features/sponsorships/pages/AllocateSponsorshipsPage.tsx
  apps/frontend/web-admin-dashboard/src/features/sponsorships/pages/SponsorshipsPage.tsx
  apps/frontend/web-admin-dashboard/src/shared/components/Layout/AppLayout.tsx
  apps/frontend/web-admin-dashboard/src/shared/components/Layout/index.ts
  apps/frontend/web-admin-dashboard/src/types/index.ts
  apps/frontend/web-partnership-dashboard/src/features/funding/components/DonateModal/DonateModal.tsx
  apps/frontend/web-partnership-dashboard/src/features/funding/components/DonateModal/StepPayment.tsx
  docs/backend/funding/DEPLOYMENT_AND_TESTING_GUIDE.md
  pnpm-lock.yaml
Due: prettier --write, sql-formatter --config apps/backend/.sqlformatterrc.json --fix

fix: backend: donation function
  apps/backend/supabase/functions/create-donation-checkout/index.ts
Due: eslint --fix, prettier --write

fix: backend: donation function 2
  apps/backend/supabase/functions/create-donation-checkout/index.ts
Due: eslint --fix, prettier --write

fix: backend: donation function 3
  apps/backend/supabase/functions/create-donation-checkout/index.ts
Due: eslint --fix, prettier --write

fix: backend: donation function 4
  apps/backend/supabase/functions/create-donation-checkout/index.ts
Due: eslint --fix, prettier --write

fix: backend: donation function 5
  .github/workflows/publish-types-dev.yml
Due: prettier --write

feat: wip donate flow
  apps/backend/supabase/seed/test/01_test_users/01_seed_test_users.sql
  apps/backend/supabase/seed/test/01_test_users/02_seed_rbac_test_users.sql
  apps/frontend/web-partnership-dashboard/src/features/funding/api/fundingApi.ts
  apps/frontend/web-partnership-dashboard/src/features/funding/components/DonateModal/DonateModal.tsx
  apps/frontend/web-partnership-dashboard/src/features/funding/components/DonateModal/StepAmount.tsx
  apps/frontend/web-partnership-dashboard/src/features/funding/components/DonateModal/StepPayment.tsx
Due: prettier --write, sql-formatter --config apps/backend/.sqlformatterrc.json --fix

fix: monthly subscription
  README.md
  apps/backend/supabase/functions/_shared/case-utils.ts
  apps/backend/supabase/functions/calculate-adoption-costs/index.ts
  apps/backend/supabase/functions/create-donation-checkout/index.ts
  apps/frontend/web-project-dashboard/vite.config.ts
Due: eslint --fix, prettier --write

feat: language adoption wip 2
  apps/backend/supabase/functions/create-adoption-checkout/index.ts
  apps/frontend/web-partnership-dashboard/src/features/funding/api/fundingApi.ts
  apps/frontend/web-partnership-dashboard/src/features/funding/components/DonateFlow/DonateFlow.tsx
  apps/frontend/web-partnership-dashboard/src/features/funding/components/DonateFlow/DonateInfoSection.tsx
  apps/frontend/web-partnership-dashboard/src/features/funding/components/DonateFlow/LanguageCart.tsx
  apps/frontend/web-partnership-dashboard/src/features/funding/components/DonateFlow/StepActionsContext.tsx
  apps/frontend/web-partnership-dashboard/src/features/funding/components/DonateFlow/StepPayment.tsx
  apps/frontend/web-partnership-dashboard/src/features/map/components/MobileBottomSheet.tsx
  apps/frontend/web-partnership-dashboard/src/features/map/context/MobileSheetContext.tsx
  apps/frontend/web-partnership-dashboard/src/features/map/hooks/useMapFocus.ts
  apps/frontend/web-partnership-dashboard/src/features/map/pages/MapPage.tsx
Due: eslint --fix, prettier --write

fix: map: working panning mobile
  apps/backend/package.json
  apps/frontend/web-partnership-dashboard/src/features/funding/components/DonateFlow/DonateFAQ.tsx
  apps/frontend/web-partnership-dashboard/src/features/funding/components/DonateFlow/DonateModal.tsx
  apps/frontend/web-partnership-dashboard/src/features/funding/pages/DonatePage.tsx
  apps/frontend/web-partnership-dashboard/src/features/map/components/MapCenterAdjuster.tsx
  apps/frontend/web-partnership-dashboard/src/features/map/components/MobileBottomSheet.tsx
  apps/frontend/web-partnership-dashboard/src/shared/components/ui/Tooltip.tsx
  pnpm-lock.yaml
Due: prettier --write

feat: map UI optimized
  apps/backend/tests/setup.ts
  apps/frontend/web-partnership-dashboard/src/features/funding/components/DonateFlow/StepAmount.tsx
  apps/frontend/web-partnership-dashboard/src/features/funding/components/LanguagesTable.tsx
  apps/frontend/web-partnership-dashboard/src/features/map/components/InspectorPanel.tsx
  apps/frontend/web-partnership-dashboard/src/features/map/components/MapCenterAdjuster.tsx
  apps/frontend/web-partnership-dashboard/src/features/map/components/MapShell.tsx
  apps/frontend/web-partnership-dashboard/src/features/map/components/MobileBottomSheet.tsx
  apps/frontend/web-partnership-dashboard/src/features/map/components/SectionRenderer.tsx
  apps/frontend/web-partnership-dashboard/src/features/map/context/MapContext.tsx
  apps/frontend/web-partnership-dashboard/src/features/map/pages/MapPage.tsx
  apps/frontend/web-partnership-dashboard/src/features/map/sections/HierarchySection.tsx
  apps/frontend/web-partnership-dashboard/src/features/map/sections/InfoSection.tsx
  apps/frontend/web-partnership-dashboard/src/shared/components/MobileAppHeader.tsx
  packages/shared-types/types/database.ts
  packages/shared-ui/package.json
  packages/shared-ui/src/theme/tailwind-preset.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: optimizations for payment form loading
  apps/backend/supabase/functions/create-adoption-checkout/index.ts
  apps/backend/supabase/functions/create-donation-checkout/index.ts
  apps/backend/supabase/functions/create-language-adoption/index.ts
  apps/backend/supabase/migrations/20251104120000_drop_partner_orgs_projects.sql
  apps/backend/supabase/migrations/20251104120100_partner_org_helper_views.sql
  apps/backend/supabase/migrations/20251104120200_extend_media_type_enum.sql
  apps/backend/supabase/migrations/20251104120300_create_project_updates.sql
  apps/backend/supabase/migrations/20251104140405_add_stripe_product_id_to_language_adoptions.sql
  apps/backend/supabase/seed/test/01_test_users/01_seed_test_users.sql
  apps/backend/supabase/seed/test/01_test_users/02_seed_rbac_test_users.sql
Due: eslint --fix, prettier --write, sql-formatter --config apps/backend/.sqlformatterrc.json --fix

fix: migration - admin role check
  apps/backend/supabase/migrations/20251104140500_create_get_user_roles_function.sql
Due: sql-formatter --config apps/backend/.sqlformatterrc.json --fix

feat: refactor backend for new sponsorships model
  apps/backend/supabase/functions/create-adoption-checkout/index.ts
  apps/backend/supabase/functions/stripe-webhook/index.ts
  apps/backend/supabase/migrations/20251104160000_refactor_sponsorships_to_balance_billing.sql
  apps/backend/supabase/seed/test/01_test_users/01_seed_test_users.sql
  apps/backend/supabase/seed/test/01_test_users/02_seed_rbac_test_users.sql
  apps/backend/supabase/seed/test/01_test_users/README_SEEDING.md
  apps/backend/supabase/seed/test/01_test_users/create_system_admin_only.sql
  apps/backend/supabase/seed/test/01_test_users/verify_seeding.sql
Due: eslint --fix, prettier --write, sql-formatter --config apps/backend/.sqlformatterrc.json --fix

feat: implement payment history and project balance dashboard
  apps/backend/supabase/migrations/20251106000000_fix_has_permission_security_definer.sql
  apps/frontend/web-partnership-dashboard/src/features/funding/components/DonateFlow/StepActionsContext.tsx
  apps/frontend/web-partnership-dashboard/src/features/funding/components/DonateFlow/StepPayment.tsx
  apps/frontend/web-partnership-dashboard/src/features/map/context/MapContext.tsx
  apps/frontend/web-partnership-dashboard/src/features/partnerorgs/components/PaymentHistory.tsx
  apps/frontend/web-partnership-dashboard/src/features/partnerorgs/hooks/useProjectFunding.ts
  apps/frontend/web-partnership-dashboard/src/features/partnerorgs/pages/PartnerOrgDashboardPage.tsx
  apps/frontend/web-partnership-dashboard/src/features/partnerorgs/pages/ProjectFundingPage.tsx
Due: prettier --write, sql-formatter --config apps/backend/.sqlformatterrc.json --fix

feat: complete finance system overhaul with donation-based model
  apps/backend/supabase/migrations/20251107000000_overhaul_finances_part1_enums.sql
  apps/backend/supabase/migrations/20251107000001_overhaul_finances_part2_business_logic_tables.sql
  apps/backend/supabase/migrations/20251107000002_overhaul_finances_part3_payment_provider_tables.sql
  apps/backend/supabase/migrations/20251107000003_overhaul_finances_part4_accounting_transactions.sql
  apps/backend/supabase/migrations/20251107000004_overhaul_finances_part5_balance_views.sql
  apps/backend/supabase/migrations/20251107000005_overhaul_finances_part6_drop_old_tables.sql
  apps/backend/supabase/migrations/20251107000006_overhaul_finances_part7_rls_policies.sql
  apps/backend/supabase/migrations/20251107000007_overhaul_finances_part8_triggers_functions.sql
Due: sql-formatter --config apps/backend/.sqlformatterrc.json --fix

chore: regenerate database types after finance overhaul
  packages/shared-types/types/database.ts
Due: none

feat: create new donation edge functions
  apps/backend/supabase/functions/create-donation-checkout/index.ts
  apps/backend/supabase/functions/stripe-webhook-donations/index.ts
Due: eslint --fix, prettier --write

feat: create unified donation flow
  apps/frontend/web-admin-dashboard/src/features/languages/api/languagesApi.ts
  apps/frontend/web-admin-dashboard/src/features/languages/components/LanguageEntityModal.tsx
  apps/frontend/web-admin-dashboard/src/features/languages/pages/LanguagesPage.tsx
  apps/frontend/web-admin-dashboard/src/features/regions/api/regionsApi.ts
  apps/frontend/web-admin-dashboard/src/features/regions/components/RegionModal.tsx
  apps/frontend/web-admin-dashboard/src/features/regions/pages/RegionsPage.tsx
  apps/frontend/web-admin-dashboard/src/shared/components/Layout/AppLayout.tsx
  apps/frontend/web-admin-dashboard/src/shared/query/query-client.ts
  apps/frontend/web-admin-dashboard/src/types/index.ts
  apps/frontend/web-partnership-dashboard/src/features/funding/api/fundingApi.ts
  apps/frontend/web-partnership-dashboard/src/features/funding/components/DonateFlow/DonateFlow.tsx
  apps/frontend/web-partnership-dashboard/src/features/funding/components/DonateFlow/StepAmountAndPayment.tsx
  apps/frontend/web-partnership-dashboard/src/features/funding/components/DonateFlow/StepDonor.tsx
  apps/frontend/web-partnership-dashboard/src/features/funding/components/DonateFlow/StepIntent.tsx
  apps/frontend/web-partnership-dashboard/src/features/funding/components/DonateFlow/StepPayment.tsx
  apps/frontend/web-partnership-dashboard/src/features/funding/components/DonateFlow/StepPaymentMethod.tsx
  apps/frontend/web-partnership-dashboard/src/features/funding/hooks/useDonateFlow.ts
  apps/frontend/web-partnership-dashboard/src/features/funding/state/types.ts
Due: prettier --write

fix: resolve donation flow blocking issues
  apps/backend/supabase/functions/create-adoption-checkout/index.ts
  apps/frontend/web-admin-dashboard/src/App.tsx
  apps/frontend/web-admin-dashboard/src/features/donations/api/allocationsApi.ts
  apps/frontend/web-admin-dashboard/src/features/donations/api/donationsApi.ts
  apps/frontend/web-admin-dashboard/src/features/donations/components/ViewAllocationModal.tsx
  apps/frontend/web-admin-dashboard/src/features/donations/components/ViewDonationModal.tsx
  apps/frontend/web-admin-dashboard/src/features/donations/pages/AllocationsPage.tsx
  apps/frontend/web-admin-dashboard/src/features/donations/pages/DonationsPage.tsx
  apps/frontend/web-admin-dashboard/src/shared/components/Layout/AppLayout.tsx
  apps/frontend/web-admin-dashboard/src/types/index.ts
  apps/frontend/web-partnership-dashboard/src/features/funding/components/DonateFlow/StepAmount.tsx
  apps/frontend/web-partnership-dashboard/src/features/funding/components/DonateFlow/StepChooseIntent.tsx
  apps/frontend/web-partnership-dashboard/src/features/funding/components/DonateFlow/StepDetails.tsx
  apps/frontend/web-partnership-dashboard/src/features/funding/components/DonateFlow/StepDonor.tsx
  apps/frontend/web-partnership-dashboard/src/features/funding/components/DonateFlow/StepIntent.tsx
  apps/frontend/web-partnership-dashboard/src/features/funding/components/DonateFlow/StepLanguages.tsx
Due: eslint --fix, prettier --write

fix: remove old component imports from DonateInfoSection
  apps/frontend/web-admin-dashboard/src/App.tsx
  apps/frontend/web-admin-dashboard/src/shared/components/Layout/AppLayout.tsx
  apps/frontend/web-partnership-dashboard/src/features/funding/components/DonateFlow/DonateInfoSection.tsx
Due: prettier --write

docs: add finance overhaul implementation status
  FINANCE-OVERHAUL-STATUS.md
Due: prettier --write

fix: update deploy-config.sh paths after restructure and add Vite env vars to Turbo
  supabase/scripts/deploy-config.sh
  turbo.json
Due: prettier --write

fix: use pnpm instead of npm for Cloudflare Worker deployment
  .github/workflows/deploy-backend-dev.yml
  .github/workflows/deploy-backend-prod.yml
Due: prettier --write

chore: save before nextjs migration
  .github/workflows/publish-types-dev.yml
  .github/workflows/publish-types-prod.yml
  .github/workflows/publish-types.yml
  apps/web-admin-dashboard/env.example
  apps/web-admin-dashboard/vite.config.ts
  apps/web-partnership-dashboard/env.example
  apps/web-partnership-dashboard/vite.config.ts
  apps/web-project-dashboard/env.example
  apps/web-project-dashboard/vite.config.ts
  docs/developer-guidelines/environment-migration-steps.md
  docs/developer-guidelines/environment-variables-guide.md
  docs/todo/current-to-do.md
  scripts/env-setup-README.md
  scripts/migrate-env-to-root.sh
Due: prettier --write
